*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.copyright {
    font-size: 9pt;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    color: rgb(255, 255, 255);
}

.conteiner{
    width: 1024px;
    margin: 0 auto;
}

.top-header{
display: flex;
justify-content: space-between;
align-items: centers;
}

header{
    height: 100vh;
    width: 100%;
    background-image: url("../img/header_back.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    padding-top: 50px;

}
.navigation ul{
     list-style-type: none; /*убирает нумерацию списка */
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.navigation ul li a{
    text-decoration: none;
    padding-bottom: 2px;
    text-transform:uppercase;
    font-size: 14px;
    color: white;
    position: relative;
    cursor: pointer;
    
  
}
.navigation ul li a:after{
background-color: white;
position: absolute;
top: 100%;
left: 0;
content: '';
width:  0;
height: 2px;
transition: all 0.35s ease-in-out;
}

.navigation ul li a:hover:after{
width: 100%;
}
